.ToastWrapper {
    svg {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0.2rem;
        padding: 0.15rem;
        fill: #fff;
    }

    &_ToastMessage {
        div:first-child{
            font-weight: bold
        }
        font-size: 13px;
        padding: 10px;
        padding-left: 2px;
        padding-right: 12px;
    }
    
}